<footer class="bg-secondary-500 text-accent-500 font-primary mt-6 bottom-0">
  <div class="absolute top-0 left-0 right-0 h-px bg-gray-200"></div>
  <div
    class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    <!-- Contacts -->
    <div>
      <h2 class="text-lg mb-4 font-bold">Contacts</h2>
      <div class="flex flex-col items-start space-x-3 space-y-2">
        <a
          href="tel:{{ general.phone }}"
          class="flex justify-center items-center hover:text-white transition-colors duration-300"
          ><span class="material-symbols-outlined mr-2">phone</span>{{
          general.phone_formatted }}</a
        >
        <a
          href="mailto:{{ general.email }}"
          class="flex justify-center items-center hover:text-white transition-colors duration-300"
          ><span class="material-symbols-outlined mr-2">mail</span>{{
          general.email }}</a
        >
      </div>
    </div>

    <!-- Sitemap -->
    <div>
      <h2 class="text-lg font-bold mb-4">{{ footer.sitemap_heading }}</h2>
      <ul class="space-y-2">
        {% for item in footer.sitemap_links %}
        <li>
          <a
            href="{{ item.url }}"
            class="hover:text-white transition-colors duration-300"
            >{{ item.label }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Services -->
    <div>
      <h2 class="text-lg font-bold mb-4">{{ footer.services_heading }}</h2>
      <ul class="space-y-2">
        {% for service in footer['services_links'] %}
        <li>
          <a
            href="{{ service.url }}"
            class="hover:text-white transition-colors duration-300"
            >{{ service.label }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Address -->
    <div>
      <h2 class="text-lg font-bold mb-4">Address</h2>
      <p>{{ general.address.street }}</p>
      <p>{{ general.address.postcode }}</p>
      <p>{{ general.address.city }}</p>
    </div>
  </div>

  <!-- Bottom Bar -->
  <div
    class="border-t border-accent-300 text-center py-4 text-sm text-accent-400"
  >
    © {{ general.copyright_year }} {{ general.site_name }}. All rights reserved.
  </div>
</footer>
